<%- model_class = Contract -%>

<% case @contract.status %>
<%  when  1..2  %>
    <div class="page-header">
      <h1>合同尚未提交</h1></div>
<%= render :partial => 'form' %>
<%  when  6  %>
    <h1>合同本金减少</h1>
    <%= render :partial => 'form_reduce' %>
<%  else  %>
    <%= render :partial => 'form_commit' %>
<% end %>