<p>
<table>
  <tr>
    <td>手机号码</td>
    <td>地址</td>
  </tr>
  <tr>
    <td><%= @business_partner.communication_info.mobile %></td>
    <td><%= @business_partner.communication_info.address %></td>
  </tr>
</table></p>