<p>
<table>
  <tr>
    <td>身份信息</td>
    <td>法律形式</td>
    <td>创建时间</td>
  </tr>
  <tr>
    <td><%= @business_partner.indentify_info.indentify %></td>
    <td><%= @business_partner.indentify_info.legelForm %></td>
    <td><%= @business_partner.indentify_info.created_at %></td>
  </tr>
</table>
</p>