<p>
<table>
  <tr>
    <td>银行帐号</td>
    <td>银行名称</td>
    <td>是否为支付帐号</td>
  </tr>
  <tr>
    <td><%= @business_partner.repayment_info.bankID %></td>
    <td><%= @business_partner.repayment_info.bankAcct %></td>
    <td><%= @business_partner.repayment_info.collection %></td>
  </tr>
</table></p>